@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: #212529;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #292b2e;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #171a1d;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #212529;
  border-bottom: #ffb742 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
  z-index: 1000; /* Garante que fique acima de outros elementos */
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo h2 {
  color: #ffb742;
  font-weight: 600;
}

.navbar .logo img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: #ffb742;
}

.navbar ul li:last-child a {
  margin: 0;
}

.hire-btn {
  background: #ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hire-btn:hover {
  background: #fb8c00;
}